@charset "UTF-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

h1 {
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

div {
  display: inline-block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  background: white;
}

a {
  display: inline-block;
}

.center {
  align-items: center !important;
  justify-content: center;
}

.row {
  height: 100%;
  display: flex;
  grid-gap: 20px;
  flex-direction: row;
}

.c-blue {
  background: #0080ff;
  color: white;
}

.c-orange {
  background: #ffae00;
  color: white;
}

.c-white {
  background: white;
  color: black;
}

.c-gray {
  background: lightgray;
  color: black;
}

article {
  display: flex;
  flex-direction: column;
}

.nav-arti-left,
.nav-arti-right {
  display: flex;
  gap: 20px;
}

.nav-arti-left a,
.sell-info > div {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.category-button {
  user-select: none;
}

.long-button {
  font-size: 16px;
  border: none;
  user-select: none;
  border-radius: 10px;
  line-height: 58px;
  width: 100%;
  text-align: center;
  height: 58px;
  border: none;
}

input,
select {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  height: 72px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header-menu {
  margin-right: auto;
}

.header-menu a {
  margin: 50px;
}

.container {
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  width: 1200px;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 82px;
}

.inputbar {
  position: relative;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#search {
  outline: none;
  border: solid 2px #0080ff;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  width: 100%;
  height: 58px;
}

.input_inner {
  box-sizing: border-box;
  padding: 0px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  height: 58px;
}

input:focus {
  outline: 2px solid #0080ff;
}

.inputbar .input_label {
  position: absolute;
  pointer-events: none;
  left: 19px;
  top: 18px;
}

.section-nav {
  border-radius: 10px;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  flex-direction: row;
  min-height: 256px;
  padding: 36px;
  background: #fafafa;
}

.category-button a,
.sell-info div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s;
  display: flex;
  top: 0px;
}

.category-button a:hover {
  top: 10px;
  color: white;
  background: #0080ff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.category-button i {
  font-size: 30px;
}

.product-board {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.section-board {
  height: auto;
}

.product-list {
  display: flex;
  flex-direction: row;
  height: 140px;
  overflow: hidden;
  border-radius: 10px;
  background: #fafafa;
}

.filter {
  position: sticky;
  top: 20px;
  border-radius: 10px;
  background: #fafafa;
  height: 300px;
  width: 25%;
  padding: 36px;
}

#signin_form,
#signup_form,
#order-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background: #fafafa;
  grid-gap: 26px;
  border-radius: 10px;
}

#signin_form > div,
#signup_form > div,
#order-form > div {
  width: 500px;
  display: grid;
  grid-gap: 26px;
  grid-template-columns: 100%;
  justify-items: center;
}
.detail-title {
  padding: 20px;
  background: #fafafa;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  margin-bottom: 20px;
}
.product-name {
  margin-right: auto;
}

.first-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fafafa;
  width: 600px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
}

.img-full {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.info {
  display: grid;
  grid-template-columns: 600px auto;
}

.info .main {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product {
  box-sizing: border-box;
  border: solid 2px #fafafa;
  overflow: hidden;
  border-radius: 10px;
  width: 280px;
  transition: all 0.2s;
}

.product .privew-image {
  width: 100%;
  height: 200px;
}

.preview-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 200px;
}

.sold-label {
  position: absolute;
  font-weight: bold;
  color: white;
  pointer-events: none;
}

.product-list .preview-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px;
  height: 100%;
}

.preview-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.privew-title {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.preview-price {
  display: flex;
  align-items: center;
}

.product > a {
  width: 100%;
}

.product-list .preview-info {
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
}

.detail-price {
  display: flex;
  font-size: 40px;
  justify-content: right;
}

.buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.center {
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  background: #fafafa;
  margin: 0px;
  padding: 0px;
}

textarea {
  padding: 20px !important;
  width: 100% !important;
  height: 500px !important;
}

.store-product-list {
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 26px;
  display: grid;
}

.add-form {
  display: grid;
  background: #fafafa;
  padding: 50px;
  border-radius: 10px;
  grid-gap: 26px;
}

.selector-box {
  display: flex;
  justify-content: space-between;
}

.selector {
  border: none;
  height: 58px;
  width: 450px;
  border-radius: 10px;
  padding: 0px 20px;
  font-size: 16px;
}

.detail-bottom {
  display: grid;
  grid-template-columns: 960px auto;
}

.detail-info {
  border-radius: 10px;
  margin-right: 36px;
  background: #fafafa;
  padding: 20px;
}

.store-more .detail-title {
  justify-content: center;
  font-size: 16px !important;
  padding: 10px !important;
}

.store-name {
  background: #fafafa;
  height: 300px;
  border-radius: 10px;
  font-size: 50px;
}

.product:hover {
  z-index: 2;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  background: #fafafa;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100px;
}

.modal {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.modal.show {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#signup_form {
  position: relative !important;
}
