@charset "UTF-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
	font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
	background: white;
}

a {
	display: inline-block;
}

.center {
	align-items: center !important;
	justify-content: center;
}

.row {
	height: 100%;
	display: flex;
	flex-direction: row !important;
	justify-content: space-between;
}

.c-blue {
	background: #0080ff;
	color: white;
}

.c-orange {
	background: #ffae00;
	color: white;
}

.c-white {
	background: white;
	color: black;
}

.nav-arti-right .long-button {
	margin-left: 36px !important;
}

.nav-arti-left .row {
	margin-top: 36px !important;
}

article {
	display: flex;
	flex-direction: column;
}

.nav-arti-left a {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	margin-right: 10px;
	text-align: center;
}

.category-button {
	user-select: none;
}

.long-button {
	font-size: 16px;
	border: none;
	user-select: none;
	border-radius: 10px;
	line-height: 58px;
	width: 100%;
	text-align: center;
	height: 58px;
	border: none;
}

input, select {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

.nav {
	height: 72px;
	width: 1200px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}

.header-menu {
	margin-right: auto;
}

.header-menu a {
	margin: 50px;
}

.container {
	height: calc(100vh - 72px);
	display: flex;
	flex-direction: column;
	width: 1200px;
}

section {
	display: flex;
	flex-direction: column;
	margin-top: 82px;
}

.inputbar {
	position: relative;
	box-sizing: border-box;
	border-radius: 10px;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
}

#search {
	outline: none;
	border: solid 2px #0080ff;
	border-radius: 10px;
	padding: 20px;
	font-size: 16px;
	width: 100%;
	height: 58px;
}

.input_inner {
	padding: 0px 20px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	width: 100%;
	height: 58px;
}

input:focus {
	outline: 2px solid #0080ff;
}

.inputbar label {
	position: absolute;
	pointer-events: none;
	left: 19px;
	top: 18px;
}

.section-nav {
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	min-height: 256px;
	padding: 36px;
	background: #fafafa;
}

.section-nav article {
	width: 100%;
}

.category-button a {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.2s;
	display: flex;
	top: 0px;
}

.category-button a:hover {
	top: 10px;
	color: white;
	background: #0080ff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.category-button i {
	font-size: 30px;
}

.section-board {
	display: flex;
	flex-direction: column;
}

.product-bard {
	width: 100%;
	float: right;
	margin-left: 36px;
}

.product-list {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	height: 120px;
	background: #fafafa;
	border-radius: 10px;
}

.filter {
	width: 25%;
}

#signin_form, #signup_form {
	display: flex;
	flex-direction: column;
	min-height: 300px;
	max-height: 100%;
	width: 500px;
	padding: 50px;
	background: #fafafa;
	border-radius: 10px;
}

#signin_form div, #signup_form div {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: auto;
}

#signin_form .inputbar, #signup_form .inputbar {
	border-color: #fafafa;
	margin-bottom: 50px;
}

.title {
	padding: 20px;
	background: #fafafa;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	font-size: 24px;
	margin-bottom: 20px;
}

.product-name {
	margin-right: auto;
}

.first-image {
	background: #fafafa;
	width: 600px;
	height: 600px;
	overflow: hidden;
	border-radius: 10px;
}

.img-full {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	display: grid;
	grid-template-columns: 600px auto;
}

.info .main {
	padding-left: 36px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product {
	box-sizing: border-box;
	border: solid 2px #fafafa;
	overflow: hidden;
	border-radius: 10px;
	width: 280px;
}

.product .privew-image {
	width: 100%;
	height: 200px;
}

.product .privew-image {
	width: 100%;
	height: 200px;
}

.product-list .privew-image {
	width: 140px;
	height: 100%;
}

.privew-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60px;
	padding: 10px;
}

.privew-title {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.price {
	margin-right: 10px;
}

.privew-price {
	display: flex;
	
}

.detail-price {
	display: flex;
	font-size: 40px;
	justify-content: right;
}

.buttons {
	display: grid;
	grid-template-columns: auto 36px auto;
}